<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>Angular-Polymer</title>
  <script src="components/angular/angular.js"></script>
  <script src="components/platform/platform.js"></script>
  <script src="components/ng-polymer-elements/ng-polymer-elements.js"></script>

  <link rel="import" href="components/core-animated-pages/core-animated-pages.html">
  <link rel="import" href="components/core-drawer-panel/core-drawer-panel.html">
  <link rel="import" href="components/core-header-panel/core-header-panel.html">
  <link rel="import" href="components/core-icons/core-icons.html">
  <link rel="import" href="components/core-toolbar/core-toolbar.html">
  <link rel="import" href="components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="components/paper-input/paper-input.html">
  <link rel="import" href="components/font-roboto/roboto.html">

  <link rel="stylesheet" href="index.css">
</head>
<body fullbleed unresolved>
  <core-header-panel ng-controller="Controller as ctrl" fit>
    <core-toolbar ng-class="{searching:ctrl.searching}">
      <paper-icon-button icon="icons:menu" id="menubtn"></paper-icon-button>
      <h3 ng-if="!ctrl.searching" flex>Angular + Polymer co-op</h3>
      <div ng-if="ctrl.searching" horizontal center layout flex>
        <paper-input label="Search" flex ng-model="ctrl.searchText" ng-blur="ctrl.maybeCancelSearch()"
            ap-enter="ctrl.search()" ap-esc="ctrl.cancelSearch()"
            ap-focuswhen="{{ctrl.searching==true}}"></paper-input>
        <paper-icon-button icon="icons:clear" ng-click="ctrl.cancelSearch()"></paper-icon-button>
      </div>
      <paper-icon-button icon="icons:search" ng-click="ctrl.search()"></paper-icon-button>
      <paper-icon-button icon="icons:arrow-forward" ng-click="ctrl.next()"></paper-icon-button>
    </core-toolbar>
    <core-drawer-panel id="drawerpnl" fit responsiveWidth="5000px">
      <section id="sidebar" drawer></section>
      <section id="main" main>
        <core-animated-pages id="pages" fit ap-selected="{{ctrl.selected}}">
          <section class="page" id="p1" fit><h1>P1</h1></section>
          <section class="page" id="p2" fit><h1>P2</h1></section>
          <section class="page" id="p3" fit><h1>P3</h1></section>
        </core-animated-pages>
      </section>
    </core-drawer-panel>
  </core-header-panel>
  <script src="index.js"></script>
  <script>
window.addEventListener('polymer-ready', function() {
    angular.bootstrap(wrap(document), ['angupoly']);
});
  </script>
</body>
</html>
