body {
  font-family: "Roboto2", "RobotoDraft", sans-serif;
}

html /deep/ #ink {
  color: #dd191d;
}

core-toolbar {
  background-color: #ffc107;
  color: #333;
  transition: all 0.16s ease-in-out;
}
core-toolbar.searching {
  background-color: #fcfcfc;
}

#sidebar {
  background-color: white;
}

.page {
  background-color: #f1f1f1;
  text-align: center;
}

core-selector > *:not[.core-selected] {
  display: none;
}
